.contentWrapper{
    padding: 50px 120px;
    background-color: coral;
}

@media screen and (max-width: 768px) {
    .contentWrapper{
        padding: 50px 30px;
    }
}
@media screen and (max-width: 1000px) {
    .contentWrapper{
        padding: 50px 30px;
    }
}